.header{
    background-color: var(--negrox);
    padding: 1rem 5.1875rem;
}

.title{
    font-weight: 800;
    color: var(--blancox);
    font-size: 4.5rem;
}

.subtitle{
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    color: var(--blancox);
    font-size: 3rem;
    position: relative;
    width: max-content;
}

.navbar{
    background-color: var(--negrox);
    padding: 1rem 5.1875rem;
    border-bottom: 2px solid #FB8122;
}

#argentina-programa{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--naranjax);
}

#login-button{
    font-size: 1.5rem;
    border: var(--blancox) solid 2px;
    border-radius: 5%; 
    background-color: transparent;
    color: var(--blancox);
    padding: 0.5rem 1rem;
}

#login-button:hover{
    color: var(--naranjax);
    border-color: var(--naranjax);
}

.header-element{
    color: var(--blancox);
    font-weight: 700;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--naranjax);
}

.nav-text{
    font-size: 0;
}

/*
.subtitle::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--negrox);
    border-left: 2px solid var(--naranjax);
    animation: typing 10s steps(30) infinite;
    overflow-x: hidden;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}