:root{
    --oscuro: #003137;
    --claro: #9EB3AC;
    --semioscuro: #004349;
    --celesteoscuro: #518186;
    --verdeoscuro: #3d5546;
    --naranjax: #FB8122;
    --blancox:#E1E2E2;
    --negrox: #1D2228;
}

body{
    overflow-x: hidden;
    background-color: var(--claro);
}

.container-fluid{
    padding: 0;
}