:root{
    --oscuro: #003137;
    --claro: #9EB3AC;
    --semioscuro: #004349;
    --celesteoscuro: #518186;
    --verdeoscuro: #3d5546;
    --naranjax: #FB8122;
    --blancox:#E1E2E2;
    --negrox: #141824;
}

body{
    overflow-x: hidden;
    background-color: var(--negrox);
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

.container-fluid{
    padding: 0;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}
