.about, .projects{
    padding: 3rem 5.1875rem;
    background-color: var(--negrox);
}

.about-title{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    color: var(--naranjax);
}

.about-description-text{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--blancox);
}

.about-description-text em{
    font-size: 2.1rem;
    font-style: normal;
    color: var(--naranjax);
}

.about-description-line{
    border: 0.1875rem solid var(--naranjax);
}

.abillity{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--blancox);
    font-size: 2.5rem;
}

.about-description-abillity{
    color: var(--naranjax);
    font-size: 3rem;
}

.project-title{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    color: var(--verdeoscuro);
}