#particles-js{
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.about, .contact, .project{
    padding: 3.5rem 5.1875rem;
    position: relative;
    z-index: 99;
}

.about-title, .contact-title, .section-project-title, .education-title{
    font-weight: 700;
    font-size: 5rem;
    color: var(--naranjax);
}

.about-content{
    border: var(--naranjax) solid 3px ;
}

#about-description-text{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--blancox);
    margin:0;
}

#project-title-input{
    font-size: 1.5rem;
}

em{
    font-style: normal;
    color: var(--naranjax);
}

.input-style{
    border: 2px solid var(--blancox);
    padding: 0.5rem;
    background-color: transparent;
    color: var(--blancox);
    display: none;
}

.input-style:focus{
    border: 2px solid var(--naranjax);
    outline: none;
}

#submit-description{
    font-size: 3rem;
    display: none;
}

#submit-project-description, #project-description-input , #project-link-input-one{
    font-size: 2rem;
    display: none;
}

#editable-name{
    font-size: 1.2rem;
    display: none;
}

#editable-title{
    font-size: 1.2rem;
    display: none;
}
#editable-description{
    font-size: 1.2rem;
    display: none;
}

#editable-img{
    font-size: 2.5rem;
    display: none;
}

#user-photo {
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-image: url(/resources/stock1.jpg);
  }

  
#user-name{
    font-size: 2rem;
    color: var(--blancox);
    font-weight: 700;
}

#user-title{
    font-size: 1.5rem;
    color: var(--naranjax);
    font-weight: 500;
}

.edit-about-button{
    font-size: 2rem;
    color: var(--naranjax);
    background-color: transparent;
    border: none;
    padding: 0;
}

  .divisor-line{
    border: 0.1875rem solid var(--naranjax);
    width: 100%;
}

.abillity{
    font-weight: 700;
    color: var(--blancox);
    font-size: 2.5rem;
}

.about-description-abillity{
    color: var(--naranjax);
    font-size: 3rem;
}

.contact-content{
    font-weight: 700;
    font-size: 4.5rem;
}

.option-white{
    color: var(--blancox);
}
.option-orange{
    color: var(--naranjax);
}

.contact-content a:hover{
    font-size: 5.4rem;
}


footer{
    height: 6rem;
    padding: 0 5.1875rem;
    color: var(--blancox);
}

footer .header-element{
    font-size: 1rem;
}

.project-title{
    color: var(--naranjax);
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2rem;
}

.project-text{
    font-size: 2rem;
    font-weight: 400;
    color: var(--blancox);
}

.btn-github{
    font-size: 2rem;
    font-weight: 700;
    color: var(--negrox);
    background-color: var(--naranjax);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.btn-github a{
    color: var(--negrox);
}

.project-buttons>*{
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: var(--naranjax);
}

.edit-project-button{
    font-size: 2rem;
    color: var(--naranjax);
    background-color: transparent;
    border: none;
    padding: 0;
    display: none;
}

.project li{
    color: var(--blancox);
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2rem;
}
