#particles-js{
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.about, .contact, .project{
    padding: 3.5rem 5.1875rem;
    position: relative;
    z-index: 99;
}

.about-title, .contact-title, .section-project-title{
    font-weight: 700;
    font-size: 5rem;
    color: var(--naranjax);
}

.about-description-text{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--blancox);
}

em{
    font-style: normal;
    color: var(--naranjax);
}

.about-description-text em{
    font-size: 2.1rem;
}

.divisor-line{
    border: 0.1875rem solid var(--naranjax);
    width: 100%;
}

.abillity{
    font-weight: 700;
    color: var(--blancox);
    font-size: 2.5rem;
}

.about-description-abillity{
    color: var(--naranjax);
    font-size: 3rem;
}

.contact-content{
    font-weight: 700;
    font-size: 4.5rem;
}

.option-white{
    color: var(--blancox);
}
.option-orange{
    color: var(--naranjax);
}

.contact-content a:hover{
    font-size: 5.4rem;
}


footer{
    height: 6rem;
    padding: 0 5.1875rem;
    color: var(--blancox);
}

footer .header-element{
    font-size: 1rem;
}

.project-title span{
    color: var(--blancox);
    
}

.project-title{
    color: var(--naranjax);
    font-size: 4rem;
    font-weight: 700;
}

.project-text{
    font-size: 2rem;
    font-weight: 400;
    color: var(--blancox);
    margin-bottom: 3rem;
}

.btn-github{
    font-size: 2rem;
    font-weight: 700;
    color: var(--negrox);
    background-color: var(--naranjax);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.btn-github a{
    color: var(--negrox);
}